<nav class="bg-gray-800 text-white">
  <div class="px-9 py-6 flex justify-between">
    <div class="flex justify-start text-white">
      <div class="mr-16">
        <h1 class="text-xl font-bold">Mudge Team</h1>
        <h2 class="text-xs font-light text-gray">Commercial Real Estate</h2>
      </div>
      <%= link_to 'Listings', listings_path, style: 'color: white;', class: 'btn btn-blue' %>
      <%= link_to 'About', about_path, style: 'color: white;', class: 'btn btn-blue' %>
      <%= link_to 'More', listings_path, style: 'color: white;', class: 'btn btn-blue' %>
    </div>

    <div class="flex justify-start">
      <%= link_to 'Login', new_user_session_path, style: 'color: white;', class: 'btn btn-blue' %>
      <%= link_to 'Find Available Space', listings_path, style: 'color: white;', class: 'btn btn-red' %>
    </div>
  </div>
</nav>
